<nav class="navbar bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Student Form Application</a>
    <% if(!currentUser){ %>
    <a class="navbar-brand" href="/login">Login</a>
    <% }else { %>
    <a class="navbar-brand" href="/logout">Logout</a>
    <% } %>
  </div>
</nav>
