<% layout('layouts/boilerplate') %>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, a optio
  neque corporis alias hic dolores ipsum illum repellat. Quas nobis eligendi a
  saepe? Cumque temporibus nemo voluptatum in dicta maxime neque excepturi
  accusamus veniam sit autem quae quod, ab quidem vero culpa. Dolores similique,
  voluptatum rerum numquam reprehenderit, tenetur, soluta quam libero minima
  recusandae illo sed quas cumque quo delectus optio? Dicta quasi, quis
  necessitatibus doloremque consequuntur reprehenderit laboriosam aliquam,
  temporibus provident recusandae quibusdam mollitia illo aut perspiciatis.
  Magni assumenda reiciendis molestiae cum voluptatem iusto deserunt asperiores
  veniam sint libero, aut itaque exercitationem esse officiis facere voluptatum
  ea fugit?
</p>

<a class="btn btn-primary ms-3" href="/register" role="button">Apply</a>
