<% layout('layouts/boilerplate') %>

<h2>Skill hai,</h2>
<h2>Toh Future Hai!</h2>

<p>
  "CWS is an on-demand marketplace for top Programming engineers, developers,
  consultants, architects, programmers, and tutors. Get your projects built by
  vetted web programming freelancers or learn from expert mentors with team
  training & coaching experiences in Project based training."
</p>

<a class="btn btn-primary ms-3" href="/student/register" role="button">Apply</a>
